:root {
    --color-1: #29335c;
    --color-2: #772014;
    --color-3: #f5b82e;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    line-height: 1.6
}

h1 {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 2em;
}

a {
    font-style: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    color: inherit;
}

header {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100%;
    heigth: auto;
    object-fit: contain;
    max-width: 1000px;
    display: block;
}

.banner-container {
    font-size: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5em 2em;
}

.midbar-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-3);
    padding: 0.2em 2em;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    /* List bullets inside of the container */
    list-style-position: inside;
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0
}

nav * > button {
    background-color: transparent;
    border: none;
    padding: 0.7em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
}

nav * > button:hover {
    color: white;
    background: var(--color-1);
    transition: all 0.4s ease 0s;
}

footer {
    text-align: right;
}

.main-image {
    width: 120%;
    height: auto;
    object-fit: contain;
    display: block;
}

.mid-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.sec-container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 3em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2.5em;
}

.wwd-lists-container {
    max-width: 50ch;
    min-height: 60ch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main * > ul li::before {
  content: '✔';
  color: black;
  line-height: 1.4em;
  padding-right: 0.5em;
}

main * > ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0.5em;

}

.captioned-block  {
    p {
        max-width: 45ch;
        font-style: italic;
    }
}

.wu-bg-container {
    background-color: var(--color-1);
    color: white;
    padding-bottom: 1em;
}

.cu-bg-container {
    background-color: var(--color-2);
    color: white;
    padding-bottom: 1em;
}

.address-container {
    margin: 0 0;
    align-self: flex-end;

}

.socials-container {
    font-size: 2em;
    display: flex;
    gap: 0.5em;
}

address {
    margin: 0 0;
    font-style: normal;
    font-weight: bold;
}
